* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Arial, sans-serif;
}

body {
    height: 100vh;
}

.wrapper {
    display: flex;
    height: 100vh;
}

.left {
    width: 60%;
    background: linear-gradient(135deg, #1f2b4d, #2f3f73);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.brand h1 {
    font-size: 50px;
    letter-spacing: 1px;
}

.brand p {
    margin-top: 10px;
    opacity: 0.8;
}

.right {
    width: 40%;
    background: #f5f7fb;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 350px;
    padding: 30px;
    background: white;
    border-radius: 14px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.card h2 {
    text-align: center;
    margin-bottom: 5px;
    color: #1f2b4d;
}

.subtitle {
    text-align: center;
    margin-bottom: 20px;
    font-size: 14px;
    color: #666;
}

.group {
    margin-bottom: 15px;
}

.group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}

.group input {
    width: 100%;
    padding: 9px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
}

.group input:focus {
    border-color: #1f2b4d;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    margin-bottom: 15px;
}

.options a {
    text-decoration: none;
    color: #1f2b4d;
}

.options a:hover {
    text-decoration: underline;
}

button {
    width: 100%;
    padding: 10px;
    background: #1f2b4d;
    border: none;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    font-size: 15px;
}

button:hover {
    background: #2f3f73;
}

.create {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
}

.create a {
    text-decoration: none;
    color: #1f2b4d;
    font-weight: 600;
}


.forgot {
    text-align: right;
    margin-top: 8px;
    font-size: 13px;
    color: #555;
    cursor: pointer;
}

.forgot:hover {
    text-decoration: underline;
    color: #000;
}
